node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
./test/.next
./test/node_modules
./test/.env
./test/.env.local
./test/.env.development.local
./test/.env.test.local
./test/.env.production.local